.home{  
    min-height: 150vh;
    font-family: 'LatoBlack';
    cursor:default;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    background-image: url('D:\Users\Usuario\Desktop\Programacion\PI Food\PI-Food-main\client\src\Estilos\HOME.jpg'); 
}

.cards{
    font-family: 'LatoBlack';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.btn {
    cursor: pointer;
    font-family: 'LatoBlack';
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px;
    border-color: #EDEDED;
    background-color: #171717;
    color: #DA0037;
    font-size: 17px;
}

.word {
    font-family: 'LatoBlack';
    color: #DA0037;
    font-size: 20px;
}

/* ----------------------------------- */

.box1 {
    position: absolute;
    top: 18%;
    left: 15%;
    transform: translate(-50%, -50%);
    
}
  
.box1 select {
    font-family: 'LatoBlack';
    background-color: #171717;
    color: #DA0037;
    padding: 12px;
    width: 250px;
    border-color: #EDEDED;
    font-size: 18px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    
}
  


/* ----------------------------------- */

.box2 {
    position: absolute;
    top: 18%;
    left: 39%;
    transform: translate(-50%, -50%);
}
  
.box2 select {
    font-family: 'LatoBlack';
    background-color: #171717;
    color: #DA0037;
    padding: 12px;
    width: 250px;
    border-color: #EDEDED;
    font-size: 18px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    
}
  

/* ----------------------------------- */

.box3 {
    position: absolute;
    top: 18%;
    left: 60%;
    transform: translate(-50%, -50%);
}
  
.box3 select {
    font-family: 'LatoBlack';
    background-color: #171717;
    color: #DA0037;
    padding: 12px;
    width: 250px;
    border-color: #EDEDED;
    font-size: 18px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    
}
  

.carta{
    text-decoration: none;
    
}